
version: '3.8'

services:
  db:
    image: postgres:15
    container_name: crud_produto_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 101010
      POSTGRES_DB: productsdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: crud_produto_app
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - .:/app
    command: >
      sh -c "
        npx prisma migrate deploy &&
        npm run dev
      "

volumes:
  pgdata:


